// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

// Font Variables
$open-sans: 'Open Sans', sans-serif;

// Colors Variables
$grey: #6a6f8c;
$mid-grey: #aaa;
$light-grey: #c8c8c8;
$white: #fff;
$light-green: #428C47;
$mid-green: #36733F;
$dark-green: #254031;
$pink: #D92588;

// Styling

html,body{
    width: 100%;
    height: 100%;
}

body{
    margin: 0;
    color: $grey;
    background: linear-gradient(to bottom, $light-green,$mid-green);
    font: bold 1.1em $open-sans;
    padding: 2em;
}

*,
::after, 
::before{
    box-sizing: border-box;
}

.clearfix::after,
.clearfix::before{
    content: '';
    display: table;
}

.clearfix::after{
    clear: both;
    display: block;
}

a{
    color: inherit;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: $white;
}

.login-wrap{
    width: 100%;
    margin: auto;
    max-width: 525px;
    min-height: 670px;
    position: relative;
    background: url(../assets/forest.jpg) no-repeat center;
    background-size: cover;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px rgba(0, 0, 0, .19);
}

.login-html{
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 60px 70px 50px 70px;
    background: rgba(39, 89, 52, 0.82);
}

.login-html .sign-in-header,
.login-html .sign-up-header{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all .4s linear;
}

.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
    display: none;
}

.login-html .tab,
.login-form .group .label,
.login-form .group .button{
    text-transform: uppercase;
}

.login-html .tab{
    font-size: 1.375em;
    padding-bottom: 5px;
    margin: 0 15px 10px 0;
    display: inline-block;
    border-bottom: 2px solid transparent;
}

.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
    color: $white;
    border-color: $pink;
}

.login-form{
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.login-form .group{
    margin-bottom: 15px;
}

.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
    width: 100%;
    color: $white;
    display: block;
    padding-bottom: 1em;
}

.login-form .group .label:first-child{
    padding-top: 1em;
}

.login-form .group .input,
.login-form .group .button{
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.1);
}

.login-form .group input[data-type="password"]{
    text-security: circle;
    -webkit-text-security: circle;
}

.login-form .group .label{
    color: $mid-grey;
    font-size: 0.75em;
}

.login-form .group .button{
    font-size: 1em;
    text-transform: none;
    background-color: $pink;
    position: relative;
    top: 8px;
}

.login-form .group label .icon{
    width: 15px;
    height: 15px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    background: rgba(255, 255, 255, 0.1)
}

.login-form .group label .icon::before,
.login-form .group label .icon::after{
    content: '';
    width: 10px;
    height: 2px;
    background: $white;
    position: absolute;
    transition: all .2s ease-in-out 0s;
}

.login-form .group label .icon::before{
    left: 3px;
    width: 5px;
    bottom: 6px;
    transform: scale(0) rotate(0)
}

.login-form .group label .icon::after{
    top: 6px;
    right: 0;
    transform: scale(0) rotate(0);
}

.login-form .group .check:checked + label{
    color: $white;
}

.login-form .group .check:checked + label .icon{
    background: $pink;
}

.login-form .group .check:checked + label .icon::before{
    transform: scale(1) rotate(45deg);
}

.login-form .group .check:checked + label .icon::after{
    transform: scale(1) rotate(-45deg);
}

.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-header{
	transform:rotate(0);
}

.login-html .sign-up:checked + .tab + .login-form .sign-up-header{
	transform:rotate(0);
}

.horizontal-line{
    position: relative;
    top: -40px;
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}

.foot-link{
	text-align:center;
}

.foot-link .bottom-label{
    position: relative;
    top: -70px;
}